{
    "targets": { "node": "22" },
    "presets": [["@babel/preset-env", { "modules": "commonjs" }]],
    "env": {
        "cjs": {
            "plugins": [
                ["add-module-exports", { "addDefaultProperty": true }]
            ]
        }
    }
}
