{
    "presets": [
        ["@babel/preset-env", { "targets": { "node": "6" } }]
    ],
    "env": {
        "cjs": {
            "plugins": [
                ["add-module-exports", { "addDefaultProperty": true }]
            ]
        }
    }
}
